<% @title="Home" %>

<style>.fi-social-facebook{color:dodgerblue;font-size:2rem;}.fi-social-youtube{color:red;font-size:2rem;}.fi-social-pinterest{color:darkred;font-size:2rem;}i.fi-social-instagram{color:brown;font-size:2rem;}i.fi-social-tumblr{color:navy;font-size:2rem;}.fi-social-twitter{color:skyblue;font-size:2rem;}</style>

<div class="row">
	<% @jobs.reverse.each do |message| %> 
	<%if message.primary==true %>
	<div class="medium-8 columns">
		<%=image_tag(message.photo.url, alt: message.name, width:"100%")%>
		<p class="content"><%= message.tagline %></p> 
	</div>
	<%break%>
	<%end %>
	<% end %>
	
	<% @jobs.reverse.each do |message| %> 
	<% sc=0 %>
	<%if message.secondary==true and sc<2 %>
	<%sc=sc+1 %>
	<div class="medium-4 columns">
		<%=image_tag(message.photo.url, alt: message.name, width:"100%")%>
		<p class="content"><%= message.tagline %></p> 
	</div>
	<%end %>
	<% end %>

</div>

<hr class='top'>
<div class="row column">
<h4 style="margin: 0;" class="text-center">MOST POPULAR - CHOSEN BY KING'S RESEARCHERS</h4>
</div>
<hr class='bottom'>
<div class="row small-up-3 medium-up-4 large-up-5">
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column show-for-medium">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column show-for-large">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
</div>
<hr class='top'>
<div class="row column">
<h4 style="margin: 0;" class="text-center">LATEST OPPORTUNITES</h4>
</div>
<hr class ='bottom'>
<div class="row">
<div class="large-12 columns">
<article>
<% oc=0 %>
<% @jobs.reverse.each do |message| %> 
<% if oc<10 %>
<% oc = oc+1 %>
<div class="row">
<div class="large-6 columns">
<%=image_tag(message.photo.url, alt:  message.name, width:"100%")%>
</div>
<div class="large-6 columns">
<% url="opportunity/" + message.url %>
<% full_url=request.base_url+"/"+url%>
<h5><a class='OT' href=<%= url %>> <p><%= message.name %></p> </a></h5>
<p>
<span><i class="fi-torso"> <%= message.tagline %> &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> <p class="time"><%= message.created_at.to_date.strftime("%d/%m/%Y") %></p>  &nbsp;&nbsp;</i></span>
<span><%= social_share_button_tag(message.name, :url=>full_url) %></span>
</p>
<p class="content"><%= message.short %></p> 
</div>
</div>
<hr>
<% end %>
<% end %>

<% if @jobs.length >10 %>
<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Previous <span class="show-for-sr">page</span></li>
<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="latest_opportunities/2" aria-label="Page 2">2</a></li>
<% if @jobs.length >9 %>
<li><a href="#" aria-label="Page 3">3</a></li>
<%end %>
<li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
</ul>
<% end %>
</article>
</div>
</div>