<% @title="Home" %>

<style>.fi-social-facebook{color:dodgerblue;font-size:2rem;}.fi-social-youtube{color:red;font-size:2rem;}.fi-social-pinterest{color:darkred;font-size:2rem;}i.fi-social-instagram{color:brown;font-size:2rem;}i.fi-social-tumblr{color:navy;font-size:2rem;}.fi-social-twitter{color:skyblue;font-size:2rem;}</style>

<div class="row">
	<div class="medium-8 columns">
		<%=image_tag("careers_consultant.jpg", alt: "See a Careers Consultant", width:"100%")%>
	</div>
	
	<div class="medium-4 columns">
		<%=image_tag("excellence_in_teaching.jpg", alt: "See a Careers Consultant", width:"100%")%>
		<p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
	</div>
</div>

<hr class='top'>
<div class="row column">
<h4 style="margin: 0;" class="text-center">MOST POPULAR</h4>
</div>
<hr class='bottom'>
<div class="row small-up-3 medium-up-4 large-up-5">
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column show-for-medium">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
<div class="column show-for-large">
<img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
</div>
</div>
<hr class='top'>
<div class="row column">
<h4 style="margin: 0;" class="text-center">LATEST OPPORTUNITES</h4>
<p>  <%= params[:id] %></p>
</div>
<hr class ='bottom'>
<div class="row">
<div class="large-12 columns" style="border-right: 1px solid #E3E5E8;">
<article>

<% @jobs.each do |message| %> 
<div class="row">
<div class="large-6 columns">
<%=image_tag(message.image, alt: "See a Careers Consultant", width:"100%")%>
</div>
<div class="large-6 columns">
<h5><a class='OT' href="#"> <p><%= message.name %></p> </a></h5>
<p>
<span><i class="fi-torso"> <%= message.tagline %> &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> <p class="time"><%= message.created_at %></p>  &nbsp;&nbsp;</i></span>
</p>
<p class="content"><%= message.short %></p> 
</div>
</div>
<hr>
<% end %>

<!--
<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Previous <span class="show-for-sr">page</span></li>
<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="#" aria-label="Page 2">2</a></li>
<li><a href="#" aria-label="Page 3">3</a></li>
<li><a href="#" aria-label="Page 4">4</a></li>
<li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
</ul>
-->
</article>
</div>
</div>