<% @title=params[:id] %>
<hr class='top'>
<div class="row column">
	<div class="large-12 columns">
<h4 style="margin: 0;" class="text-center">OPPORTUNITY DESCRIPTION</h4>
</div>
</div>
<hr class='bottom'>

<div class="row">
		<% page=params[:id] %>
		<% @jobs.each do |message| %> 

			<% if page==message.url %>
				<div class="large-6 columns">
					<%=image_tag(message.photo.url, alt: "See a Careers Consultant", width:"100%")%>
				</div>
				<div class="large-6 columns">
					<h5><a class='OT'> <p><%= message.name %></p> </a></h5>
					<p>
						<span><i class="fi-torso"> <%= message.tagline %> &nbsp;&nbsp;</i></span>
						<span><i class="fi-calendar"> <p class="time"><%= message.created_at.to_date %></p>  &nbsp;&nbsp;</i></span>
					</p>
					<p class="content"><%= message.content %></p> 
				</div>
			<% end %>
		<% end %>
</div>
<br>


