<% @title="Home" %>

<script type="text/javascript">
  $(document).ready(function(){
     $.cookieBar({
     	policyButton: true,
		policyText: 'Privacy Policy',
		policyURL: 'http://www.kcl.ac.uk/terms/index.aspx',
     });
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80349983-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="row">
	<div class="large-12 columns">
		<%=image_tag("Header_Placeholder.png", alt: "Header", width:"100%")%>
		<br>
		<br>
		<h4> Calling all King's Researchers! </h4>
	</div>
</div>

<hr class='top'>
	<div class="row column">
		<h4 style="margin: 0;" class="text-center">THIS WEEK'S FEATURED OPPORTUNITIES</h4>
	</div>
<hr class='bottom'>

<div class="row">
	<% @jobs.order([:release]).reverse.each do |message| %>
		<%if message.primary==true %>
			<div class="medium-8 columns">
				<% url="opportunity/" + message.url %>
				<div class="overlay-container">
					<%=link_to image_tag(message.photo.url(:primary), alt: message.tagline, title:message.tagline, width:"100%"),url %>
					<div class="overlay"><span><%= message.name %></span></div>
				</div>
			</div>
		<% break %>
		<% end %>
	<% end %>

	<% @jobs.order([:release]).reverse.each do |message| %>
	<% sc=0 %>
		<%if message.secondary==true and sc<2 %>
			<%sc=sc+1 %>
			<div class="medium-4 columns">
				<% url="opportunity/" + message.url %>
				<div class="overlay-container">
					<%=link_to image_tag(message.photo.url(:secondary), alt: message.tagline, title:message.tagline, width:"100%"),url %>
					<div class="overlay"><span><%= message.name %></span></div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<hr class='top'>
	<div class="row column">
		<h4 style="margin: 0;" class="text-center">MOST POPULAR - CHOSEN BY KING'S RESEARCHERS</h4>
	</div>
<hr class='bottom'>

<div class="row small-up-3 medium-up-4 large-up-5">
	<% sarray=[] %>
	<% @jobs.order([:release]).reverse.each do |message| %>
		<% if message.release.to_date < Time.now %>
			<% if message.expiry.to_date > Time.now %>
				<% ssaray=[] %>
				<% ssaray << message.impressionist_count(:start_date=>Date.today-7.days) %>
				<% ssaray << message.photo.url(:thumb) %>
				<% ssaray << message.name %>
				<% ssaray << message.url %>
				<% ssaray << message.tagline %>
				<% sarray << ssaray %>
			<% end %>
		<% end %>
	<% end %>
	<% oc1=0 %>
	<% sarray.sort! {|x,y| x[0]<=>y[0]} %>
	<% sarray.reverse.each do |pop| %>
		<% if oc1<5 %>
			<% oc1 = oc1+1 %>
			<div class="column">
				<% url="opportunity/" + pop[3] %>
				<%=link_to image_tag(pop[1], alt:  pop[4],title: pop[4], width:'370'),url%>
			</div>
		<% end %>
	<% end %>
</div>

<hr class='top'>
	<div class="row column large-12">
		<h4 style="margin: 0;" class="text-center">LATEST OPPORTUNITIES</h4>
	</div>
<hr class ='bottom'>

<div class="row column large-12">
  <p>Do you have an opportunity you’d like to see featured here?  Please <a href="/contact_us">contact us</a> to find out how.</p>
</div>

<div class="row large-12 columns">
<div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>

  <% @jobs.order([:release]).reverse.each do |message2| %>
  <div class="grid-item">

          <% url="opportunity/" + message2.url %>
          <div class="overlay-container">
            <%=link_to image_tag(message2.photo.url, alt:  message2.tagline,title:message2.tagline, width:"100%"),url %>
            <% if not message2.copyright.blank? %>
              <div class="overlay"><span><p>Copyright: <%= message2.copyright %></p></span></div>
            <% end %>
          </div>

          <% full_url=request.base_url+"/"+url%>
          <h5><a class='OT' href=<%= url %>> <p><%= message2.name %></p> </a></h5>
          <%= social_share_button_tag(message2.name, :url=>full_url) %>
          <p class="content"><%= message2.short %></p>
          <p class="time"> Live here until: <%= message2.expiry.to_date.strftime("%d/%m/%Y") %></p>

      <hr>
    </div>
<% end %>
</div>
</div>
