<% @title=params[:no] %>

<hr class='top'>
	<div class="row column">
		<h4 style="margin: 0;" class="text-center">MORE OPPORTUNITIES</h4>
	</div>
<hr class ='bottom'>

<div class="row">
	<div class="large-12 columns">
		<% oc=0 %>
		<% oclim = 11 %>
		<% @jobs.order([:release]).reverse.each do |message| %> 
			<% if message.release.to_date < Time.now %>
				<% if message.expiry.to_date > Time.now %>
					<% if oc<oclim %>
						<% oc = oc+1 %>
					<% end %>
					<% if oc>=oclim %>
						<div class="row">
							<div class="large-6 columns">
								<% url="/opportunity/" + message.url %>
								<% full_url=request.base_url+"/"+url%>
								<%=link_to image_tag(message.photo.url, alt:  message.tagline,title:message.tagline, width:"100%"),url %>
							</div>
							<div class="large-6 columns">
								<h5><a class='OT' href=<%= full_url %>> <p><%= message.name %></p> </a></h5>
								<%= social_share_button_tag(message.name, :url=>full_url) %>
								<p class="content"><%= message.short %></p> 
								<p class="time">Opportunity added on: <%= message.release.to_date.strftime("%d/%m/%Y") %>. Live until: <%= message.expiry.to_date.strftime("%d/%m/%Y") %></p>
							</div>
						</div>
						<hr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

		<ul class="pagination" role="navigation" aria-label="Pagination">
			<li><a href="/index" aria-label="Previous page">Previous <span class="show-for-sr">page</span></a></li>
			<li><a href="/index" aria-label="Page 1">1</a></li>
			<li class="current"><span class="show-for-sr">You're on page</span> 2</li>
			<li class="disabled">Next <span class="show-for-sr">page</span></li>
			</ul>
	</div>
</div>
<br>