<% @title=params[:no] %>

<hr class='top'>
	<div class="row column">
		<h4 style="margin: 0;" class="text-center">MORE OPPORTUNITES</h4>
	</div>
<hr class ='bottom'>

<div class="row">
	<div class="large-12 columns">
		<% oc=0 %>
		<% oclim = 11 %>
		<% @jobs.reverse.each do |message| %> 
			<% if message.release.to_date < Time.now %>
				<% if message.expiry.to_date > Time.now %>
					<% if oc<oclim %>
						<% oc = oc+1 %>
					<% end %>
					<% if oc>=oclim %>
						<div class="row">
							<div class="large-6 columns">
								<% url="opportunity/" + message.url %>
								<%=link_to image_tag(message.photo.url, alt:  message.name, width:"100%"),url %>
							</div>
							<div class="large-6 columns">
								<% full_url=request.base_url+"/"+url%>
								<h5><a class='OT' href=<%= url %>> <p><%= message.name %></p> </a></h5>
								<p> <%= message.tagline %> </p>
								<p class="time">Opportunity added on: <%= message.release.to_date.strftime("%d/%m/%Y") %>. Live until: <%= message.expiry.to_date.strftime("%d/%m/%Y") %></p>
								<%= social_share_button_tag(message.name, :url=>full_url) %>
								<p class="content"><%= message.short %></p> 
							</div>
						</div>
						<hr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

		<% jobtot=0 %>
		<%@jobs.each do |message| %>
			<% if message.release.to_date < Time.now %>
				<% if message.expiry.to_date > Time.now %>
					<% jobtot = jobtot+1 %>
				<% end %>
			<% end %>
		<% end %>

		<% if jobtot >10 %>
			<ul class="pagination" role="navigation" aria-label="Pagination">
				<li class="disabled">Previous <span class="show-for-sr">page</span></li>
				<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
				<li><a href="latest_opportunities/2" aria-label="Page 2">2</a></li>
					<% if jobtot >19 %>
						<li><a href="latest_opportunities/3" aria-label="Page 3">3</a></li>
					<%end %>
					<% pagenow = "latest_opportunities/"+params[:no].s %>
				<li><a href= <%= pagenow %> aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
			</ul>
		<% end %>
	</div>
</div>
<br>